/* Estilizando o header */

body {
    background-color: #131313;
    padding: 0 345px; /* 👈 Cria espaço de 20px nas laterais */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #131313;
    color: white;
  }
  
  /* Logo (nome do Gabriel) */
  .logo {
    font-size: 24px;
    color: rgb(0, 71, 177);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  
  /* Menu de navegação */
  
  .nav-links {
    display: flex;
    align-items: center; /* garante que fique alinhado no meio */
    gap: 30px;
  }
  

  .nav-links a {
    color: rgba(148, 148, 148, 0.589);
    font-size: 22px;  /* Tamanho do texto dos links de navegacao*/
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center; /* garante que fique alinhado no meio */
    gap: 30px;
  }
  

  .nav-links a {
    cursor: pointer;
    transition: 0.3s;
    
  }
  
  .nav-links a:hover {
    color: #ffffff;
  }
  
  /* Ícones sociais */
  .socials i {
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .socials i:hover {
    color: rgb(0, 71, 177);
  }

  .nav-links a {
    position: relative;
    padding-bottom: 5px;
  }
  
  .nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: rgb(0, 71, 177);
    transition: width 0.3s ease;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  .nav-links .active::after {
    width: 100%;
  }
  


.apresentation {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start; /* 🔥 alinha os textos à esquerda */
  padding: 100px 20px;
  gap: 12px;
    
}

.alinhar-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 90px; /* 👈 define o espaço entre imagem e texto */
}


  

.color-blue {
    color: rgb(0, 71, 177);
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 20px;
    font-weight: bold;
}

.apresentation h1 , p {
    color: #e6e6e6; 
    font-family: Arial, Helvetica, sans-serif;  
}
  
.apresentation h1 {
  font-size: 60px;
}

.apresentation h2 {
  color: rgb(0, 71, 177);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background: linear-gradient(to right, white, rgb(0, 71, 177));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.apresentation p {
  font-size: 20px;
  font-weight: bold;
}

.apresentation p,
.apresentation h1,
.apresentation h2 {
  margin: 0; /* Remove margens extras */
  align-self: flex-start;
}




 
.imagem {
  display: flex;


  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;

  border: 4px solid rgb(0, 71, 177);
  box-shadow: 0 0 90px rgb(0, 71, 177);;
}

a {
  text-decoration: none; /* remove sublinhado */
  color: inherit; /* herda a cor do h3 */
}


.texts-top {
    text-align: center;
}

.texts-top h2 {
    font-size: 25px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.texts-top p  {
    color: rgb(0, 71, 177);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: linear-gradient(to right, white, rgb(0, 71, 177));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.primeira-linha-projeto {
    display: flex;
    gap: 40px;
}

.boxe {
    background-color: #201f1e;
    width: 350px;  /* largura fixa */
    height: 350px;  /* altura fixa */
    border-radius: 20px;
}

.boxe img {
    width: 330px;
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxe h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}